@import "variables.scss";

.button {
  // 共通
  button {
    z-index: 1;
    @include shadow2;
    color: $back1;
    border: none;
    cursor: pointer;
  }

  &:hover {
    opacity: 90%;
    transition: 0.1s;
  }

  // ノーマルサイズ
  .normal {
    padding: 10px 28px;
    border-radius: 10px;
    @include text4;

    @include mq(tablet) {
      @include text6;
      padding: 8px 20px;
      border-radius: 8px;
    }
  }

  // ミニサイズ
  .mini {
    padding: 6px 16px;
    border-radius: 6px;
    @include text7;

    @include mq(tablet) {
      padding: 6px 14px;
      border-radius: 6px;
    }
  }

  .filledButton {
    background: $main1;
  }

  .dangerButton {
    background: $danger1;
  }

  .outlineButton {
    color: $main1;
    background: $back1;
    border: 2px solid $main1;

    // outlineの場合のみborderが内側に入らないため、サイズ調整
    &.normal {
      padding: 8px 24px;

      @include mq(tablet) {
        padding: 6px 16px;
      }
    }

    &.mini {
      padding: 4px 12px;

      @include mq(tablet) {
        padding: 4px 12px;
      }
    }
  }
}
