@import 'variables.scss';

.contents {
  position: relative;
  background: $back1;
  border-radius: 8px;
  padding: 24px 28px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 61px;
  min-height: calc(100% - 61px);
  @include shadow2;

  @include mq(tablet) {
    padding: 16px;
  }
}