@import "variables.scss";

.signIn {
  width: 100%;
  height: 100%;

  .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 0;
    position: absolute;
    background: $main1;
    border-bottom-right-radius: 1000px 50px;
    border-bottom-left-radius: 1000px 50px;

  }

  .body {
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    z-index: 1;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;

    .heading {
      text-align: center;

      h1,
      h2 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        line-height: 120%;
        color: $back1;
      }

      h1 {
        font-size: 7rem;
        
        @include mq(tablet) {
          font-size: 5rem;
        }
      }

      h2 {
        margin-top: 30px;
        font-size: 4rem;

        @include mq(tablet) {
          font-size: 3rem;
          margin-top: 20px;
        }
      }

      p {
        color: $back1;
        margin-top: 10px;
        width: 100%;
        @include text5;

        @include mq(tablet) {
          @include text7;
        }
      }
    }

    .formArea {
      width: 100%;
      padding: 36px;
      max-width: 500px;
      margin-top: 52px;
      border-radius: 8px;
      background: $back1;
      text-align: center;
      @include shadow2;

      @include mq(tablet) {
        margin-top: 30px;
        padding: 24px;
      }

      p {
        @include text2;

        @include mq(tablet) {
          @include text3;
        }
      }

      .menuArea {
        margin-top: 20px;

        @include mq(tablet) {
          margin-top: 10px;
        }
      }
    }
  }
}
