@import "variables.scss";

.signIn {
  background: $back1;

  // #root要素はみ出して全画面
  margin: -20px calc(50% - 50vw);
  width: 100vw;

  .body {
    width: 100%;

    .fv {
      padding: 100px 20px 60px 20px;
      display: flex;
      flex-direction: column;

      .heading {
        text-align: center;
        color: $text1;
  
        h1,
        h2 {
          font-family: "M PLUS Rounded 1c", sans-serif;
          line-height: 120%;
        }
  
        h1 {
          font-size: 10rem;
          
          @include mq(tablet) {
            font-size: 7rem;
          }
        }
  
        h2 {
          font-size: 4rem;
          padding: 6px 0;
  
          @include mq(tablet) {
            font-size: 3rem;
          }
        }
  
        p {
          @include text5;
  
          @include mq(tablet) {
            @include text7;
          }
        }
      }

      .formArea {
        text-align: center; 
        margin-top: 30px;
      }
    }

    .container {
      background: $main1;
      padding: 50px 40px;
      position: relative;

      @include mq(tablet) {
        padding: 30px 20px;
      }
      
      .images {
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        gap: 50px;

        
        @include mq(tablet) {
          gap: 30px;
        }
        
        img {
          border-radius: 8px;
          width: 100%;
          @include shadow1;
        }
      }
    }
  }
}
