@import "variables.scss";

.top {
  h1 {
    color: $main1;
    @include text1;

    @include mq(tablet) {
      @include text3;
    }
  }

  .heading {
    border-bottom: 1px solid $border2;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .body {
    padding-top: 16px;

    li {
      width: 100%;
      height: 56px;
      padding: 10px;
      margin-bottom: 6px;
      border: 1px solid $border1;
      border-radius: 8px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        @include text4;

        @include mq(tablet) {
          @include text6;
        }
      }

      .left {
        display: flex;
        align-items: center;

        img {
          height: 36px;
          margin-right: 12px;
        }
      }

      .right {
        display: none;

        .menuArea {
          display: flex;
        }

        .linkButton {
          margin-right: 6px;
        }
      }

      &:hover {
        background: $back2;
        transition: 0.3s;
        cursor: pointer;

        .right {
          display: block;
        }
      }
    }

    .noContent {
      transform: translate(-50%, -50%);
      position: absolute;
      width: 420px;
      left: 50%;
      top: 50%;

      .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;

        .imgWrapper {
          width: 100%;
          max-width: 277px;
          margin-bottom: 10px;
  
          img {
            width: 100%;
          }
        }
  
        h2 {
          @include text1;
        }
  
        p {
          margin-top: 6px;
          @include text5;
        }
      }

      @include mq(tablet) {
        width: calc(100% - 32px);

        .container {
          .imgWrapper {
            max-width: 200px;
          }

          h2 {
            @include text3;
          }
  
          p {
            @include text7;
          }          
        }
      }
    }
  }

  .popUpArea {
    background: rgba(55, 65, 81, 0.3);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100vw;
    left: 50%;
    top: 50%;

    .overlay {
      position: relative;
      width: 100%;
      height: 100%;

      .popUp {
        max-width: 600px;
        height: 195px;
        padding: 24px;
        background: $back1;
        border-radius: 8px;
        width: calc(100% - 40px);

        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        @include shadow1;

        .container {
          width: 100%;
          height: 100%;

          display: flex;
          flex-wrap: wrap;
          flex-flow: column;
          justify-content: space-between;

          h3 {
            @include text4;
            margin-bottom: 2px;
          }

          p {
            color: $text2;
            @include text7;
          }

          .bottom {
            justify-content: flex-end;
            display: flex;
            gap: 10px;
          }
        }

        @include mq(tablet) {
          height: 150px;
          padding: 20px;
        }
      }
    }
  }

  .boxArea {
    transform: translateX(-50%);
    transition: 0.2s;
    position: fixed;
    bottom: 56px;
    left: 50%;
  }
}
